.lightpink {
    color: lightpink;
}

body {
    font-family: 'PT Serif', serif;
    margin-top: 10%;
}

h1 {
    font-size: 47px;
}

.straight-line {

    border-left: 2px solid powderblue;
    border-width: 10px;
    border-radius: 10px;
    line-height: 1cm;
}

.flex {
    display: flex;
    margin-bottom: 80px;
}

.width {
    padding-right: 10%;
    padding-top: 4%;
}

.padd1 {
    padding-right: 25%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 209, 217), rgb(188, 192, 246));
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.size1 {
    font-size: 20px;
    margin-left: 10%;
}

.year {
    color: lightpink;
}

.centre {
    text-align: center;
}

#box1 {
    background-color: rgba(208, 208, 222, 0.868);
    margin-right: 1cm;
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 20px;
    ;
}

#box2 {
    background-color: rgba(244, 231, 224, 0.858);
    margin-right: 1cm;
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 20px;
}

#box3 {
    background-color: rgba(233, 195, 251, 0.833);
    margin-right: 10%;
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 20px;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 209, 217), rgb(188, 192, 246));
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.image1 {
    padding-right: 10%;
}

.heading {
    font-size: 35px;
    line-height: 0.5cm;
}

#parag {
    text-align: justify;
    margin-right: 20%;
}

.banner1 {
    background-image: url(shape-5.png);
    background-size: 15% 60%;
    background-position: 4%;
    background-repeat: no-repeat;
}

.margin2 {
    margin-left: 10%;
}

.margin3 {
    margin-left: 10%;
}

.distance {
    padding-right: 10%;
    text-align: justify;
}

.marg {
    margin-right: 10%;
    margin-bottom: 80px;
}

.banner2 {
    background-image: url(shape-5.png);
    background-size: 15% 40%;
    background-position: right 3em bottom 8px;
    background-repeat: no-repeat;
}

.centre2 {
    text-align: center;
    font-size: 45px;
    line-height: 0.5cm;
}

.paddi {
    padding-right: 15%;
    margin-left: 20%;
}

.paddin {
    padding-top: 5%;
    margin-right: 10%;
    text-align: justify;
}

.dist {
    padding-top: 8%;
}

.banner3 {
    background-image: url(shape-3.png), url(Untitled.png), url(Untitled1.png);
    background-size: 10% 25%,
        25% 70%, 25% 65%;
    background-position: left 13em top 65px,
        left 22em top 280px, left 9em top 300px;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    height: 3cm;
    padding-top: 0.3cm;
    line-height: 0.5cm;
}

.fontt {
    font-size: 12px;
}