.lightpink {
    color: lightpink;
}

body {
    font-family: 'PT Serif', serif;
    margin-top: 10%;
    margin-left: 7%;
}

h1 {
    font-size: 50px;
}

.straight-line {

    border-left: 2px solid powderblue;
    border-width: 10px;
    border-radius: 10px;
    line-height: 1cm;
}

.flex {
    display: flex;

}

.width {
    padding-right: 10%;
    padding-top: 4%;
}

.padd1 {
    padding-right: 30%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 209, 217), rgb(188, 192, 246));
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.size1 {
    font-size: 20px;
}

.year {
    color: lightpink;
}

.centre {
    text-align: center;
}

#box1 {
    background-color: rgb(199, 199, 215);
    margin-right: 1cm;
}

#box2 {
    background-color: rgb(247, 228, 217);
    margin-right: 1cm;
}

#box3 {
    background-color: rgb(228, 183, 249);
    margin-right: 7%;

}